{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'css.html' %}
</head>
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
<div class="wrapper">
  {% include 'navbar.html' %}
  {% include 'sidebar.html' %}
  <div class="content-wrapper">
    <div class="container mt-1">
        <h5>Change Password</h5>
    
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>

    </div>
  </div>
  {% include 'scripts.html' %}
</div>
</body>
</html>
