{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'css.html' %}
</head>
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
<div class="wrapper">
  {% include 'navbar.html' %}
  {% include 'sidebar.html' %}
  <div class="content-wrapper">
    <div class="container mt-1">
        <h5>REGISTRATION DETAILS</h5>

        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> {% for message in messages %}{{ message }}{% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

        <form method="post" action="/registration/add" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="full_name">Full Name:</label>
                <input type="text" class="form-control" id="full_name" name="full_name" required>
            </div>
            
            <div class="form-group">
                <label for="course">Select Course:</label>
                <select class="form-control" id="course" name="course" required>
                    {% for course in courses %}
                        <option value="{{ course.id }}">{{ course.title }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="application_form">Upload Application Form:</label>
                <input type="file" class="form-control" id="application_form" name="application_form" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
  </div>
  {% include 'scripts.html' %}
</div>
</body>
</html>
