
{% extends 'site_base.html' %}
{% block content %}
{%load static%}
{% block header %}{% endblock %}
    <!-- Courses Start -->
    <div class="container-fluid px-0 py-5">
        <div class="row mx-0 justify-content-center pt-5">
            <div class="col-lg-6">
                <div class="section-title text-center position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Courses</h6>
                    <h1 class="display-4">Checkout Our Courses</h1>
                </div>
            </div>
        </div>
         
    <!-- Courses Section Start -->
<section id="courses" class="py-5">
    <div class="container">
   
        <div class="row">
            <!-- Course 1 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">INTRODUCTION TO COMPUTER</h5>
                        <div class="d-flex justify-content-between">
                            <span class="font-weight-bold">Duration: 2 Weeks</span>
                            <span class="font-weight-bold">Fee: Tshs 260000</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Course 2 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MICROSOFT WORD</h5>
                        <div class="d-flex justify-content-between">
                            <span class="font-weight-bold">Duration: 2 Weeks</span>
                            <span class="font-weight-bold">Fee: Tshs 260000</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Course 3 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MICROSOFT EXCEL</h5>
                        <div class="d-flex justify-content-between">
                            <span class="font-weight-bold">Duration: 2 Weeks</span>
                            <span class="font-weight-bold">Fee: Tshs 260000</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">MICROSOFT ACCESS</h5>
                        <div class="d-flex justify-content-between">
                            <span class="font-weight-bold">Duration: 2 Weeks</span>
                            <span class="font-weight-bold">Fee: Tshs 260000</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Courses Section End -->
    {% endblock content %}
